.enter-zone {
  display: flex;
  text-align: center;
  width: 40%;
  justify-content: flex-start;
  flex-direction: column;
  padding: 4% 4% 4% 4%;
  border-radius: 44px;
  background-color: #e990f9;
}

.placeholder {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-button {
  margin-top: 30px;
  color: #ffffff;
  padding: 7px;
  border-radius: 36px;
  border: solid 3px #ffffff;
  font-size: 25px;
  background-color: #e990f9;
  cursor: pointer;
}

.email-input {
  margin-top: 10px;
  border-radius: 36px;
  font-size: 25px;
  border: solid 3px #ffffff;
}

.password-input {
  margin-top: 10px;
  border-radius: 36px;
  font-size: 25px;
  border: solid 3px #ffffff;
}

@media screen and (max-width: 415px) {
  .enter-zone {
    background-color: #ffffff;
  }

  .login-button {
    color: #e990f9;
    border: solid 3px #e990f9;
    background-color: #ffffff;
  }

  .email-input {
    border: solid 3px #e990f9;
  }

  .password-input {
    border: solid 3px #e990f9;
  }
}